body {
      font: 1.55em Helvetica, Arial;
}

.give {
      padding-left: 3em;
}

.time {
      text-align: center;
      font-size: 0.75em;
      font-weight: bold;
      color: #802b00;
      background: #fff5e6;
}

.welcome {
      text-align: center;
      font-weight: bold;
}

.notice {
      text-align: center;
      font-size: 0.75em;
      font-style: italic;
}

.take {
      text-align: right;
      padding-right: 7em;
}

.bye {
      text-align: center;
      font-style: italic;
}

@media only screen and (min-width: 1280px) {
      .container {
            margin: 6em auto;
            width: 50%;
      }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
      .container {
            margin: 5em auto;
            width: 60%;
      }
      
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
      .container {
            margin: 4em auto;
            width: 70%;
      }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
      .container {
            margin: 3em auto;
            width: 80%;
      }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
      .container {
            margin: 2em auto;
            width: 85%;
      }
}